* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding: 0;
}

/* search */

.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
}

.search-input {
    border: 0;
    outline: 0;
    color: #555;
    padding: 10px 25px;
    height: 40px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    margin-left: 10%;
    border: 1px solid black;
    width: 90%;

}

.search-button {
    border: 01px solid black;
    outline: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: white;
    margin-right: 5%;
}

.search-img {
    width: 20px;
    padding: 5%;
}

/* error */
.error {
    display: none;
}


/* toggle */
/* The switch - the box around the slider */

&:before {
    content: "F°";
}

&::after {
    content: "C°";
}

.toggle {
    margin-left: 5%;
    margin-top: 2%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* Toggle slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "C°";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 24px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* current card */

  .label {
    text-align: center;
    padding-bottom: 10%;
  }


.current-weather-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.current-weather-container col {
    width: 50%;
}

.weather-location-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-summary {
    width: 50%;
}

.current-title {
    font-size: 60px;
    margin-top: 30%;
    text-align: center;
}

.card {
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 5%;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    width: 100%;
}

.hotBackground {
    background: linear-gradient(135deg, #980808, #ed3b71);
}

.moderateBackground {
    background: linear-gradient(135deg,#E8ee3b, #d87825);
}

.coldBackground {
    background: linear-gradient(135deg, #00feba, #5b548a);
}


.weather {
    display: block;
}

/* details section */

.details {
    display: flex;
    flex-direction: row;
}

.weather-icon {
    width: 200px;
    margin-top: 30px;
}

.temp-heading {
    font-size: 26px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
    margin-top: -5%;
    padding-bottom: 5%;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details-container {
    display: flex;
    padding-top: 5%;
}

.current details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 50px;
    width: 50%;
}

.current-hi-container {
    display: flex;
    margin: 0 auto;
}

.current-low-container {
    display: flex;
    margin: 0 auto;
}

.today-high {
    font-size: 30px;
    text-align: center;
}

.today-low {
    font-size: 30px;
    text-align: center
}

.up-arrow {
    width: 10%;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
    width: 50%;
    margin-left: 5%;
    padding-top: 3%;
}

div.search {
    display: flex;
    padding: 2%;
}

.conditional-card {
    width:50%;
}

.forecast-container {
    display: flex;
    flex-direction: row;;
}

img.max-min-weather-icon {
    width: 40px;
    margin: 10%;
}

.arrow_img,
.arrow-icon {
    width: 40px;
    margin-right: 5%;
}

.rain_img {
    width: 70px;
    margin-right: 5%;
}

.inside-container {
    display: grid;
    grid-template-columns: 500px 500px 500px;
    column-gap: 10px;;
}

.main-section {
    display: flex;
}

.card3 {
    margin-right: 10%;
}

.todays-hot-conditions {
    font-size: 48px;
    color: red;
    text-align: left;
}

.todays-moderate-conditions {
    font-size: 48px;
    color: yellow;
    text-align: left;
    display: none;
}

.todays-summary_cold {
    font-size: 48px;
    color: blue;
    text-align: left;
    display: none;
}